<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horizontal_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{620,153}</string>
                <key>spriteSourceSize</key>
                <string>{620,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_piece1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{623,120},{34,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>horizontal_piece2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{664,40},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_piece3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{661,89},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_piece4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{654,120},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_piece1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,25}</string>
                <key>textureRect</key>
                <string>{{623,28},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_piece2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{623,55},{39,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_piece3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,25}</string>
                <key>spriteSourceSize</key>
                <string>{42,25}</string>
                <key>textureRect</key>
                <string>{{623,1},{42,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_piece4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{664,68},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_piece5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{667,1},{37,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>triangular_piece6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{623,79},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>horizontal_effect.png</string>
            <key>size</key>
            <string>{689,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346f6cc4be8db8f5b29f275786189355:0dee963ca3984c2059cea5a1aa49e2ec:f690ba92d3a7e4db3adb7a266974edb7$</string>
            <key>textureFileName</key>
            <string>horizontal_effect.png</string>
        </dict>
    </dict>
</plist>
